<header class="header">
  <a href="./" class="logo">
    <img src="public-resource/imgs/logo.png" alt="Logo" />
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li>
      <a class="menu-item <%= rutaActual === '/' ? 'active' : '' %>" href="/"
        >Inicio</a
      >
    </li>
    <li>
      <a
        class="menu-item <%= rutaActual === '/informacion' ? 'active' : '' %>"
        href="/informacion"
        >Información</a
      >
    </li>
    <li>
      <a
        class="menu-item <%= rutaActual === '/perfil' ? 'active' : '' %>"
        href="/perfil">
        <i class="bi bi-person-circle"></i>
        UrianV
      </a>
    </li>
  </ul>
</header>
