<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../includes/head') %>
    <style>
      .miCard {
        width: 30%;
        margin: 0 auto;
        padding: 15px 10px;
        background-color: #fff;
        box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07),
          0 10px 20px -2px rgba(0, 0, 0, 0.04) !important;
        border-radius: 0.5rem !important;
      }
      h2 {
        text-align: center;
      }
      p {
        text-align: justify;
        padding: 0px 15px;
      }
      .logo {
        width: 100%;
        max-width: 150px;
      }
    </style>
  </head>
  <body>
    <%- include('../includes/header') %>

    <main class="content-wrapper mt-5" style="margin-top: 80px !important">
      <div class="container" style="width: 95% !important">
        <!--Inicio del bloque body-->

        <div class="row justify-content-md-center mb-5">
          <div class="col-md-12 mt-5">
            <h2 class="text-center">Estoy en la página de Perfil</h2>
          </div>
        </div>

        <div class="miCard">
          <h2>
            <img
              class="logo mr-3"
              src="https://urianviera.com/assets/imgs/logo.png"
              alt="WeB Developer - urian V" />
            <br />
            Urian Viera
            <hr />
          </h2>
          <p>
            ¡Bienvenidos a nuestro canal de YouTube! Estamos encantados de
            tenerlos aquí y queremos agradecerles por unirse a nuestra
            comunidad. Nuestro canal está dedicado a brindarles contenido
            educativo que les ayudara a mucho en este mundo informativo.
          </p>
        </div>
      </div>
    </main>

    <%- include('../includes/scripts') %>
  </body>
</html>
